body {
    background-image: url("../resources/layout/home_sfondo.jpg");
	background-position: center top;
    background-repeat: no-repeat;
    
    background-color: #d2a64d;
    margin-top: 0;
}

.main {
	color: #FFF;
	width: 1000px;
	height: 1200px;	
	margin: 0 auto;
	padding: 0 auto;
	text-align: left;
}

.menu {
    width: 685px; 
    position: absolute; 
    top: 136px; 
    margin-left: 280px; 
    display: flex; 
    justify-content: space-evenly;
}


.menu div a {
	text-decoration: none;
	color: white;
}

.content {
    display: flex;
}

.content div {
    width: 830px;
}

footer {
    display: flex;
}

footer section {
    position: relative;
    width: 270px;
}

footer section img {
    position: absolute;
    left: 0;
    right: 0;
    
}

footer section div {
    position: relative;
    z-index: 1; /* ensure text is on top of image */
    color: #fff; /* adjust text color as needed */
    margin-top: 55px;
    margin-left: 10px;

}

footer section div li {
    margin-top: 5px;
}

@media (max-width: 1000px) {

}